<div>
<p>User pages are pages for organizing the work users do on Wikipedia, as well as speaking to other users. User pages are mainly for interpersonal discussion, notices, testing and drafts (see: Sandboxes), and, if desired, limited autobiographical and personal content. Pages in the User and User talk namespaces are considered to be user pages.User pages are available to Wikipedia users personally for purposes compatible with the Wikipedia project and acceptable to the community; Wikipedia is not a blog, webspace provider, or social networking site. Wikipedia policies concerning the content of pages can and generally do apply to user pages, and users must observe these policies. Users believed to be in violation of these policies should first be advised on their talk page using when immediate action is not otherwise necessary.</p>
<ul *ngFor="let user of httpdata">
        <li>Name : {{user.name}} </li>
        <li>Address : {{user.address.street}}</li>
</ul>

</div>