.left{
    background-color:mediumpurple;
    float: left;
    width: 50%;
    height: 600px;
    padding: 10px;
}
.right{
    background-color: cornflowerblue;
    float: right;
    width: 45%;
    height: 600px;
    padding: 10px;  
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color:yellowgreen;
}